{% extends 'catalog/base.html' %}

{% block content %}
    <h2>{% if form.instance.pk %}Редактировать продукт{% else %}Создать новый продукт{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    {% if form.instance.pk %}
        <a href="{% url 'product-delete' form.instance.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <a href="{% url 'product-list' %}" class="btn btn-secondary">Отмена</a>
{% endblock %}
