<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Successful</title>
</head>
<body>
<div class="text-center">
    {% csrf_token %}
    <h3 class="card-title">Сброс пароля</h3>
    <p>Поступил запрос на сброс пароля</p>
    <p>Для завершения сброса пройдите по ссылке</p>
    <p><a href="{{ domain }}{% url 'user:confirm_reset_password' token=token %}">Сбросить пароль</a></p>
</div>
</body>
</html>