{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col">
        <h1 class="display-4 fw-normal text-body-emphasis">
            {% url 'user:login' as login_url %}
            {% url 'user:profile' as profile_url %}
            {% url 'user:password_reset' as password_reset_url %}

            {% if request.path == login_url %}
                Авторизация
            {% elif request.path == profile_url %}
                Профиль
            {% elif request.path == password_reset_url %}
                Сброс пароля
            {% else %}
                Регистрация
            {% endif %}
        </h1>

        {% if request.path == password_reset_url %}
            Введите свою почту, мы пришлем временный пароль
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <p>{{ field.errors }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    </div>
{% endblock %}
