{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col">
        {% if request.path == login_url %}
            <h1>Авторизация</h1>
        {% elif request.path == profile_url %}
            <h1>Профиль</h1>
        {% elif request.path == password_reset_url %}
            <h1>Сброс пароля</h1>
        {% else %}
            <h1>Регистрация</h1>
        {% endif %}
        {{ request.path }}

        <div>
            {% url 'user:login' as login_url %}
            {% url 'user:profile' as profile_url %}
            {% url 'user:password_reset' as password_reset_url %}
            {% if request.path == password_reset_url %}
                Введите свою почту, мы пришлем временный пароль
            {% endif %}
        </div>

        <form method="post" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            <p>{{ field.errors }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    </div>
{% endblock %}
