{% extends 'blog/includes/inc_entry_list.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">
            {{ object.title }}
        </h1>
        <p></p>
        <div class="col">

            <div>
                <p>
                    <img src="{% mediapath object.photo %}" alt=""/>
                </p>
                {{ object.content }}
                <p>
                    Просмотры: {{ object.view_count }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
